@font-face {
    font-family: "Tahu!";
    src: url("../fonts/Tahu!.ttf");
}

@media screen and (max-width:1440px){

    .header__menu_socials{
        margin-left: 15px!important;
    }


}

@media screen and (max-width:1200px){
    /* .header__menu_socials{
        display: none;
    } */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.show-flex{
    display: flex!important;
    transition: all 1s;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.header__menu{
    display: flex;
    padding: 24px 100px;
    flex-wrap: wrap;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 1600px) and (max-width:2199px){
    .container{
        max-width: 1560px;
    }
}

@media screen and (min-width:2200px){
    .container{
        max-width: 2100px;
    }
}

@media screen and (max-width:1440px){
    .header__menu{
        padding: 24px 30px;
    }
}


.col-70{
    flex: 0 0 auto;
    width: 70%;
}

.col-30{
    flex: 0 0 auto;
    width: 30%;
}

.header__menu_left, .header__menu_right{
    display: flex;
    align-items: center;
}

.header__menu_left{
    flex-wrap: wrap;
}

.header__menu_toggle i{
    font-size: 24px;
}

@media screen and (min-width:768px){
    .header__menu_toggle{
        display: none;
    }


}

@media screen and (max-width:767px){
    .header__menu nav{
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 15px;
        
    }

    .header__menu nav a{
        margin: 5px 0;
        padding: 10px 0;
    }

    .header__menu nav a:hover{
        color:#fff;
        background-color:#000;
    }

    .header__menu_right{
        display: none;
        flex-direction: column;
        width: 100%;        
        text-align: center;
    }

    .header__menu_socials{
        margin: 10px 0!important;
    }

    .header__menu_socials a{
        margin:0 10px ;
    }
}



.header__menu_right{
    justify-content: flex-end;
}



.header__menu_left img{
    margin-right: 120px;
}

@media screen and (max-width:1440px){
    .header__menu_left img{
        margin-right: 34px;
    }
}

.header__menu_left a{
    color: #222222;
    font-weight: 500;
    text-decoration: none;
    margin: 0 17px;
}

.header__menu_left a:hover{
    border-bottom: 2px solid #222222;
}


.btn_orange{
    background-color: #ff3c2d;
    border: 0;
    color:#fff;
    padding: 6px 21px;
    cursor: pointer;
    border:1px solid transparent;  
    transition: all 0.2s;
}
.btn_orange:hover{
    background-color:#fff;
    color:#000;
    border:1px solid #000;  
}


@media screen and (max-width:992px){
    /* .header__menu_right{
        display: none;
    } */

    header .col-70{
        width: 100%;
    }

    .header__menu_left{
        justify-content: space-between;
    }
    .header__menu_left a{
        margin: 0 10px;
    }
}

.header__menu_socials a{
    color: #222222;
    margin-left: 15px;
}

.header__menu_socials{
    margin-left: 40px;
}

@media screen and (max-width:1440px){
    .header__menu_socials{
        margin-left: 15px;
    }
}


@media (min-width:992px) and (max-width:1200px){
    header .col-70{
        width: 80%;
    }

    header .col-30{
        width: 20%;
    }
}

@media (min-width:768px) and (max-width:1200px){
    .header__menu_socials{
        display: none;
    }
}

@media (min-width:768px) and (max-width:992px){
    .header__menu_right {
        display: none;
    }
}


.header__title{
    background-image: url("../img/bg_header.png");
    background-size: cover;
    background-position: center center;
    color:#fff; 
    padding: 77px 0 70px 0;
}

.header__title_main p{
    font-weight: 700;
    font-size: 70px;
    line-height: 0.8;
    margin-bottom: 25px;
}

.header__title_description{
    font-size: 18px;
    margin: 30px 0 45px 0;
}

.header__title .btn_orange{
    padding: 10px 45px;
}

@media screen and (max-width:992px){
    .header__title{
        text-align: center;
    }

}

@media screen and (max-width:768px){

    .header__title_main p{
        font-size: 36px;
    }
}

.p{
    display: inline;
}

.span{
    display: block;
}

/* Sessions Block */

.sessions__row{
    display: flex;
    text-align: center;
}

.sessions__row .col-50{
    width: 50%;
    padding: 80px 0 100px 0;
}

.session-left{
    color:#fff;
    background-color:#222222;
}

.sessions__row h1{
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 5px;
}

.sessions__compares{
    margin: 80px 0 70px 0;
}

.sessions__compare{
    display: flex;
    align-items:center;
    width: 60%;
    margin: 0 auto 40px auto;
    position: relative;
    line-height: 0.69;
}

.sessions__compare::before{
    content: "";
    border-bottom: 2px solid #4e4e4e;
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 20px;
}


.sessions__compare:nth-child(2){
    line-height: 0.68;
}

.sessions__compare_number{
    font-size: 80px;
    font-weight: 700;
    color:#4e4e4e;
    width: 30px;
   
}

.sessions__compare_title{
    margin-left: 50px;
    font-size: 18px;
}


.session-right .sessions__compare_title{
    font-weight: 600;
}

.session-right .sessions__compare_number{
    color:#ccc;
}

.session-right .sessions__compare::before{
    border-bottom:1px solid #ccc;
}

@media screen and (max-width:992px){
    .sessions__row{
        flex-direction: column;
    }

    .sessions__row .col-50{
        width: 100%;
    }
}

@media screen and (max-width:767px){
    .sessions__compare_title{
        margin-left: 25px;
        font-size: 15px;
        line-height: 1.2;
    }
    .sessions__compare_number{
        width: 35px;
    }
    .sessions__row h1{
        font-size: 24px;
    }
}

/* Near block */

.near{
    background-image:url("../img/bg_map.jpg");
    padding: 155px 0;
}

.near__block h1{
    font-size: 50px;
    font-weight: 600;
}

.near__block p{
    margin-bottom: 20px;
    font-size: 18px;
}

.near__block{
    background-color:#fff;
    width: 45%;
    padding: 48px 50px;
}

.near__block input{
    height: 38px;
    border:0;
    background-color:#f6f6f6;
}

@media (min-width:768px) and (max-width:1100px) {
    .near__block{
        width: 70%;
    }
    
}


@media screen and (max-width:767px) {
    .near__block{
        width: 100%;
        text-align: center;
    }

    .near__block h1{
        font-size: 24px;
    }

    .near__block p{
        font-size: 14px;
    }

    .near__block input, .near__block button{
        margin-bottom: 10px;
    }
}

/* Professionals */
.professionals {
    padding: 120px 0 150px 0;
}

.professionals h1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.professional__services{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.professional__service{
    color:#b1b1b1;
    margin: 0 23px;
    font-size: 18px;
}

.professional__service_active{
    color:#222222;
    border-bottom: 2px solid #ff3c2d;
}

.professional__tabcontents .col-50{
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.professional__tabcontent,.professional__tabcontent_people{
    display: flex;
}

.professional__tabcontent_human img{
    max-width: 100%;
    display: block;
    cursor:pointer;
}

.professional__tabcontent_human{
    width: 50%;
    padding: 16px;
}

.professional__tabcontent_people{
    flex-wrap: wrap;
}

.professional__tabcontent_right {
    padding-top: 16px;
}

.professional__tabcontent_right img{
    object-fit: cover;
    width: 100%;
}

.tabcontent__arrow{
    text-align: center;
    padding: 0 16px;
    width: 45%;
    margin: 0 auto;
    background-color:#f6f6f6;
}

@media screen and (max-width:1200px) {
    .professional__services{
        justify-content: flex-start;
        overflow-x: auto;
    }
}

@media screen and (max-width:768px) {
    .professional__services{
        justify-content: flex-start;
        overflow-x: auto;
    }

    .professional__tabcontent_right{
        display: none;
    }

    .professional__tabcontent_left.col-50{
        width: 100%;
    }
}

@media screen and (max-width:576px) {
    .professional__tabcontent_human{
        width: 100%;
    }

    .professional__tabcontent_human img{
        margin: 0 auto;
    }
}

.about{
    background-color:#f6f6f6;
    padding: 80px 0 100px 0;
    
}

.about__top{
    display: flex;
}

.about__top_left{
    width: 60%;
    padding-right: 150px;
}

.about__top_right{
    width: 40%;
}

.about__top_left h1{
    font-size: 50px;
    font-weight: 600;
    line-height: 55px;
    margin-bottom: 35px;
}

.about__top_left p{
    font-size: 18px;
    font-weight: 500;
}

.about__top_right h2{
    font-family: "Tahu!";
    font-size: 50px;
    font-weight:500;
    margin-bottom: 60px;
}

.tip{
    display: flex;
    align-items:center;
    border-bottom:1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 12px;
}



.tip p{
    font-size: 16px;
    font-weight: 500;
    width: 300px;
}

.tip__img{
    width: 110px;
    text-align: center;
}

.about__bottom{
    position: relative;
}

.about__bottom_img{
    position: absolute;
    top: -120px;
}

.covid19{
    background: #222222;
    color:#fff;
    padding: 50px 80px 70px 80px;
    width: 65%;
    margin-left: 150px;
}

.covid19 h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
}

.covid19 p{
    font-weight: 400;
    font-size: 18px;
}

.covid19 p:nth-child(2){
    margin-bottom: 40px;
}

.about__bottom{
    display: flex;
}

.tip:last-child{
    margin-bottom: 0!important;
}

@media screen and (max-width:992px) {
    .about__top{
        flex-direction: column;
        text-align: center;
    }
    .about__top_left{
        width: 100%!important;
        padding-right: 0px;
        margin-bottom: 50px;
    }

    .about__top_left h1{
        font-size: 36px;
    }

    .about__top_left p{
        font-size: 16px;
    }
    
    .about__top_right{
        width: 100%!important;
    }
    
    .tip{
        justify-content: center;
        text-align: left;
    }

    .tip__img{
        width: 200px;
    }
    .about__bottom_img{
        display: none;
    }

    .covid19{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width:1599px) {
    .about__bottom{
        margin-top: 40px;
    }
}

@media screen and (min-width: 1600px) {
    .about__tips{
        display: flex;
        justify-content: space-between;
    }

    .about__top_left{
        width: 55%;
    }

    .about__top_right{
        width: 45%;
    }

    .tip p{
        width: 210px;
    }
}

/* Reviews section */

.reviews{
    background-color:#222222;
    color:#fff;
    text-align: center;
    padding: 85px 0 140px 0;
}

.reviews h1{
    font-size: 50px;
    font-weight: 600;
}

.reviews p{
    font-size: 18px;
}